@CHARSET "ISO-8859-1";

.background {
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	background-attachment: fixed;
}

#bg-img {
	width: 100%;
	position: absolute;
	filter: blur(5px);
}

.login-box {
	align: right;
	color: #5b5b5b;
	font-family: "Gabriola";
	font-size: 10px;
}

.form-group {
	align: middle;
	color: #ec7600;
	font-family: "Gabriola";
	font-size: 20px;
}

p.lead {
	align: middle;
	color: #ffffff;
	font-family: "Gabriola";
	font-size: 80px;
}

h2, h3 {
	align: middle;
	color: #ec7600;
	font-family: "Gabriola";
	font-size: 80px;
}