@CHARSET "ISO-8859-1";

th {
	color: white;
	font-family: "Times New Roman", Times, serif;
}

td {
	color: black;
}

B {
	color: white;
	font-family: "Times New Roman", Times, serif;
}

.detail {
	color: white;
	font-family: "Times New Roman", Times, serif;
}